<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Yorkshire Ecommerce</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/media_queries.css">
        
    </head>
    <body>
        
        <!---------------------------------------------------    DEFAULT HEADER(NAVBAR)     ------------------------------------------------------>
        <%- include('partials/index/headerDefault') %>   
        
        <!---------------------------------------------------     MAIN     ------------------------------------------------------>
        <%- include('partials/shared/main') %>

        <!---------------------------------------------------     FOOTER     ------------------------------------------------------>
        <%- include('partials/shared/footer') %>
      
       


        <!-- Skrivajuce forme -->
        <%- include('partials/index/loginForm') %>
        <%- include('partials/index/registerForm') %>
       
        
        
        <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓     SKRIVAJUCI CART     ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
        <%- include('partials/shared/cart') %>
        <!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑     SKRIVAJUCI CART     ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
        
        

        <!-- Scroll to top button -->
        <%- include('partials/shared/scrollToTopButton') %>
        



        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.0.0/build/jwt-decode.min.js"></script> -->
        <script src="js/gsap/gsap_index.js"></script>
        <script src="js/pages/index.js" type="module"></script>
</body>
</html>
