<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Yorkshire Ecommerce</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/media_queries.css">

    </head>
    <body>
        
        <!-- profile header(navbar) -->
        <%- include('partials/profile/headerProfile') %>   
        
        <section class="single-product-details" style="margin: 230px 0 0 230px">
            <img src="<%= product.productImageUrl %>" alt="<%= product.productTitle %>" width="300px">
            <div class="single-product-info">
                <h2>Product Description</h2>
                <p><%= product.productDescription %></p>
                <h3>Price: $<%= product.productPrice %></h3>
                <div class="actions">
                    <button class="product-page-add-to-cart-button" data-product-id="<%= product._id %>">Add to Cart</button>
                    <input class="product-page-quantity" type="number" value="1" min="1" max="<%= product.inStock %>" required />
                </div>
            </div>
        </section>

       

        <!-- footer -->
        <%- include('partials/shared/footer') %>
      


        <!-- hiding forms -->
        <%- include('partials/profile/accountModificationForm') %>
        <%- include('partials/profile/accountDeletionForm') %>
       
        
        
        <!-- hiding cart -->
        <%- include('partials/shared/cart') %>
        
        

        <!-- scroll to top button -->
        <%- include('partials/shared/scrollToTopButton') %>





        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.0.0/build/jwt-decode.min.js"></script>
        <script src="js/gsap/gsap_index.js"></script> -->
        <script src="<%= process.env.NODE_ENV === 'production' ? '/js/product.bundle.js' : '/js/pages/profile.js' %>" type="module"></script>
    </body>
</html>
