<section class="admin-page-content-section">
    <h3 class="section-title">MESSAGES</h3>
    <% if (messages.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Created At</th>
                    <th>Replied</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% messages.forEach(message => { %>
                    <tr>
                        <td><%= message.email %></td>
                        <td><%= message.name %></td>
                        <td><%= message.subject %></td>
                        <td><%= message.message %></td>
                        <td><%= new Date(message.createdAt).toLocaleString() %></td>
                        <td><%= message.replied %></td>
                        <td>
                            <button class="email-reply-button">Reply</button>
                            <div class="email-reply-message-form-wrapper">
                                <form class="email-reply-message-form">
                                    <input type="hidden" value="<%= message._id %>">
                                    <h3 style="margin-bottom: 12px">Reply to <%= message.name ? message.name : "user" %></h3>
                                    <textarea required></textarea>
                                    <button type="submit">Reply</button>
                                    <span class="close-form-button">x</span>
                                </form>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No messages found...</p>
    <% } %>
</section>
