<section class="admin-page-content-section">
    <h3 class="section-title">PRODUCTS</h3>
    <% if (products.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Product Title</th>
                    <th>Product Category</th>
                    <th>Product Price</th>
                    <th>Product Image</th>
                    <th>In Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <td><%= product.productTitle %></td>
                        <td><%= product.productCategory %></td>
                        <td>$<%= product.productPrice %></td>
                        <td><img src="<%= product.productImageUrl %>" alt="Product Image" /></td>
                        <td><%= product.inStock %></td>
                        <td>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No products found...</p>
    <% } %>
</section>
