<section class="admin-page-content-section">
    <h3 class="section-title">USERS</h3>
    <button class="add-new-user-button">Add New User</button>
    <div class="add-new-user-form-wrapper">
        <form id="add-new-user-form">
            <h3>Add New User</h3>
            <label for="admin-created-user-username">Username</label>
            <input type="text" value="" id="admin-created-user-username">
            <label for="admin-created-user-email">Email</label>
            <input type="email" value="" id="admin-created-user-email">
            <label for="admin-created-user-password">Password</label>
            <input type="password" value="" id="admin-created-user-password">
            <button type="submit">ADD NEW USER</button>
            <span class="close-form-button">x</span>
        </form>
    </div>
    <% if (users.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Role</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user._id %></td>
                        <td><%= user.role %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td>
                            <button>Edit</button>
                            <button data-user-id="<%= user._id %>" class="delete-user-button">Delete</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No users found...</p>
    <% } %>
</section>
